# Data Source file
LoanStats_2019Q1.csv
# Images directory
images/
# Challenge Starter code files
credit_risk_resampling_starter_code.ipynb
credit_risk_ensemble_starter_code.ipynb
# .ipynb_checkpoints directory
.ipynb_checkpoints/